.event
  %h3
    %a(href="/events/#{e.id}")
      = e.name
  %h4= e.place
  %p= e.description
  .participants 
    - if e.users.empty?
      none
    - else
      - e.users.each do |u|
        %a(href='https://twitter.com/#{u.nick}/') @#{u.nick}
    .attend
      = link_to "/events/#{e.id}/attendances", :method => :post do
        &oplus; Count me in!
