.delete
  = link_to "/events/#{event.id}", :method => :delete, :class => :admin do
    %span.symbol h
    Delete event

.event
  .participants 
    - if event.users.empty?
      nobody so far. be the first!
    - else
      %ul
        - event.users.each_with_index do |u, i|
          %li
            %a(href='https://twitter.com/#{u.nick}/') @#{u.nick}

    .attend
      - if attendance.nil?
        = link_to "/events/#{event.id}/attendances", :method => :post, :class => 'button' do
          %span.symbol +
          Count me in!
      - else
        = link_to "/events/#{event.id}/attendances/#{attendance.id}", :method => :delete do
          %span.symbol -
          Woops, can't come

  %h3.compact
    - if @_current_user.attending?(event)
      %span.symbol.attending /
    - else
      %span.symbol.not-attending /
    = event.name
    &mdash;
    = event.place
  = event.occurs_at.to_formatted_s(:long_ordinal)


  %h3 Description
  - if event.description.nil?
    no description
  - else
    = raw(markup(event.description))

  - if @_current_user.id == event.creator.id || @_current_user.admin == true
    .clear

  %p.note
    This event was proposed by
    %a(href="https://twitter.com/#{event.creator.nick}") @#{event.creator.nick}
