.event
  %h3
    %a(href="/events/#{event.id}")
      = event.name
  %h4= event.place
  %p= event.description
  .participants 
    - if event.users.empty?
      none
    - else
      - event.users.each do |u|
        %a(href='https://twitter.com/#{u.nick}/') @#{u.nick}
    .attend
      = link_to "/events/#{event.id}/attendances", :method => :post do
        &oplus; Count me in!
