.event
  %h3
    %a(href="/events/#{event.id}")
      - if @_current_user.attending?(event)
        %span.symbol.attending /
      - else
        %span.symbol.not-attending /
      = event.name
      &mdash;
      = event.place
      .event-details
        - if event.occurs_at > Time.now
          in
          = distance_of_time_in_words_to_now(event.occurs_at)
        - else
          = distance_of_time_in_words_to_now(event.occurs_at)
          ago
        with
        %span.symbol U
        = event.attendances.count
        - if @_current_user.attending?(event)
          , including you!
