.content
  = render :partial => 'topbar', :locals => { :section => 'events' }

  %p
    Fleshing out an
    
    %strong
      %span.symbol C
      idea
    is hard. Staying motivated is especially
    %strong
      %span.symbol W
      difficult
    if you have to work alone on a project for a long period.

  %p
    This is why it's good to take some
    %strong
      %span.symbol P
      time off
    and connect with
    %strong
      %span.symbol U
      people
    with similar
    %strong
      %span.symbol R
      challenges
    and interrogations.

  .events
    - @events.each do |e|
      = render :partial => 'events/teaser', :locals => { :event => e }

  - if @is_admin
    .clear
    .new-event
      = link_to '/events/new', :class => 'button' do
        %span.symbol +
        Create new event

  .clear
    

  = render :partial => 'account'

= render :partial => 'footer'
