.content
  = render :partial => 'topbar', :locals => { :section => 'events' }

  = link_to '/' do
    &larr; Back to all events

  = render :partial => 'inline', :locals => { :event => @event, :attendance => @_current_user.attendance_for(@event) }

  = render :partial => 'feedbacks/index', :locals => { :event => @event, :feedbacks => @event.feedbacks }

  .clear

  = render :partial => 'account'
