- feedbacks.each do |f|
  .feedback
    %strong
      %span.symbol.big c
      feedback
    from
    %a(href="https://twitter.com/#{@_current_user.nick}")= "@#{@_current_user.nick}"
    %p
      = f.content
    %p
      - if not f.url.nil? and not f.url.empty?
        %a(href="#{f.url}")
          %span.symbol j
          = f.url
    .clear

%h3 Post feedback

= form_tag("/events/#{event.id}/feedbacks", :class => 'feedback') do
  %p
    %strong
      %span.symbol.big c
      feedback
    from
    %a(href="https://twitter.com/#{@_current_user.nick}")= "@#{@_current_user.nick}"

  %p
    = text_area_tag 'content', '', :placeholder => 'something about this event'

  %p
    = text_field_tag 'url', '', :placeholder => 'http://...'

  %a(href='#' class='button' onclick='$(this).closest("form").submit(); return false;')
    %span.symbol c
    Post feedback
