- feedbacks.each do |f|
  .feedback
    - if f.user.id == @_current_user.id || @_current_user.admin == true
      .delete
        = link_to "/events/#{event.id}/feedbacks/#{f.id}", :method => :delete, :class => :button do
          %span.symbol -
          Delete feedback

    %strong
      %span.symbol.big c
      feedback
    from
    %a(href="https://twitter.com/#{f.user.nick}")= "@#{f.user.nick}"
    %span(title="#{f.created_at.localtime.to_formatted_s(:long_ordinal)}")
      = distance_of_time_in_words_to_now(f.created_at)
    ago

    %p
      = f.content
    %p
      - if not f.url.nil? and not f.url.empty?
        %a(href="#{f.url}")
          %span.symbol j
          = f.url
    .clear

%h3 Post feedback

= form_tag("/events/#{event.id}/feedbacks", :class => 'feedback') do
  %p
    %strong
      %span.symbol.big c
      feedback
    from
    %a(href="https://twitter.com/#{@_current_user.nick}")= "@#{@_current_user.nick}"

  %p
    = text_area_tag 'content', '', :placeholder => 'something about this event'

  %p
    = text_field_tag 'url', '', :placeholder => 'http://...'

  %a(href='#' class='button' onclick='$(this).closest("form").submit(); return false;')
    %span.symbol c
    Post feedback
